
@{
    Layout = "_LayoutPanel";
    Layout = "~/Views/Shared/Partials/_LayoutPanel.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">

        <a class="text-muted text-uppercase mb-3 mt-0 ps-0 col-lg-4 d-block" href="/Projects/Index">
            <section class="card card-featured-left" style="border-color:rebeccapurple">
                <div class="card-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon" style="background-color:rebeccapurple">
                                <i class="fa-solid fa-list-check"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title text-capitalize" >Projects</h4>
                                <div class="info">
                                    <span style="color: rebeccapurple"></span>
                                </div>
                            </div>
                            <div class="summary-footer">
                                (go to)
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </a>
        <a class="text-muted text-uppercase mb-3 mt-0 ps-0 col-lg-4 d-block" href="/Services/Index">
            <section class="card card-featured-left" style="border-color: lightskyblue">
                <div class="card-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon" style="background-color: lightskyblue">
                                <i class="fa-solid fa-house-chimney-crack"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title text-capitalize" asp-controller="Services" asp-action="Index">Services</h4>
                            </div>
                            <div class="summary-footer">
                                (go to)
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </a>
        <a class="text-muted text-uppercase mb-3 mt-0 ps-0 col-lg-4 d-block" href="/Category/Index">
            <section class="card card-featured-left" style="border-color: orchid">
                <div class="card-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon" style="background-color: orchid">
                                <i class="fa-solid fa-layer-group"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title text-capitalize">Categories</h4>
                            </div>
                            <div class="summary-footer">
                                (go to)
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </a> <a class="text-muted text-uppercase mb-3 mt-0 ps-0 col-lg-4 d-block" href="/Contact/Index  ">
            <section class="card card-featured-left" style="border-color:cadetblue">
                <div class="card-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon" style="background-color: cadetblue">
                                <i class="fa-solid fa-language"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title text-capitalize">Contact</h4>
                            </div>
                            <div class="summary-footer">
                                (go to)
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </a>
    </div>    

</body>
</html>
