@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ArifTurhalArch | Register</title>

    @await Html.PartialAsync("~/Views/Shared/Partials/StylePartialView.cshtml")
</head>
<body class="loading-overlay-showing" data-loading-overlay>
    @model ArchBackend.Core.ViewModels.RegisterViewModel

    @Html.AntiForgeryToken()

    <section class="body-sign">
        <div class="center-sign">
            <a href="/" class="logo float-left m-4 d-block text-center">
                <img src="~/Panel/img/ArchBackend.png" style="max-width: 380px" alt="ArifTurhalArch" />
            </a>

            <div class="panel card-sign">
                <div class="card-body border-primary pb-4">
                    <form id="registerForm" asp-action="Register" asp-controller="Account" method="post">
                        <!-- First Name -->
                        <div class="form-group mb-3">
                            <label asp-for="FirstName">First Name</label>
                            <div class="input-group">
                                <input type="text" asp-for="FirstName" class="form-control form-control-lg" required />
                                <span class="input-group-append">
                                    <span class="input-group-text h-100 px-3 rounded-0 rounded-end">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </span>
                            </div>
                            <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group mb-3">
                            <label asp-for="LastName">Last Name</label>
                            <div class="input-group">
                                <input type="text" asp-for="LastName" class="form-control form-control-lg" required />
                                <span class="input-group-append">
                                    <span class="input-group-text h-100 px-3 rounded-0 rounded-end">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </span>
                            </div>
                            <span class="text-danger" asp-validation-for="LastName"></span>
                        </div>

                        <!-- Username -->
                        <div class="form-group mb-3">
                            <label asp-for="UserName">Username</label>
                            <div class="input-group">
                                <input type="text" asp-for="UserName" class="form-control form-control-lg" required />
                                <span class="input-group-append">
                                    <span class="input-group-text h-100 px-3 rounded-0 rounded-end">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </span>
                            </div>
                            <span class="text-danger" asp-validation-for="UserName"></span>
                        </div>

                        <!-- Email -->
                        <div class="form-group mb-3">
                            <label asp-for="Email">Email</label>
                            <div class="input-group">
                                <input type="email" asp-for="Email" class="form-control form-control-lg" required />
                                <span class="input-group-append">
                                    <span class="input-group-text h-100 px-3 rounded-0 rounded-end">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </span>
                            </div>
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>

                        <!-- Password -->
                        <div class="form-group mb-3">
                            <label asp-for="Password">Password</label>
                            <div class="input-group">
                                <input type="password" asp-for="Password" class="form-control form-control-lg" required />
                                <span class="input-group-append">
                                    <span class="input-group-text h-100 px-3 rounded-0 rounded-end toggle-password">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-group mb-3">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <div class="input-group">
                                <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" required />
                                <span class="input-group-append">
                                    <span class="input-group-text h-100 px-3 rounded-0 rounded-end toggle-password">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>

                        <!-- Register Button -->
                        <div class="row">
                            <div class="col-sm-5">
                                <button type="submit" class="btn btn-primary text-white mt-2 w-100">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <p class="text-center text-muted mt-3">
                &copy; Copyright <a href="https://mehmetburakbayir.com" target="_blank">mehmetburakbayir.com</a>
            </p>
        </div>
    </section>

    @await Html.PartialAsync("~/Views/Shared/Partials/ScriptPartialView.cshtml")

</body>
</html>