
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Partials/_LayoutPanel.cshtml";
}


@section styles {
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
}


@section Scripts {
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/ajax/ourservice/ourservice.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    

}


@model IEnumerable<ArchBackend.Core.Models.OurService>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <button type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-dark custom-blue mb-3">Add OurService</button>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>OurService Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="ourservicetable">
                        @foreach (var ourService in Model)
                        {
                            <tr>
                                <td>@ourService.Name</td>
                                <td>
                                    <button class="btn btn-outline btn-sm edit-btn" data="@ourService.Id">Update</button>
                                    <button class="btn btn-sm btn-danger delete-btn" data-id="@ourService.Id">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Add Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Add New OurService</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="ourserviceForm">
                    <div class="mb-3">
                        <label for="ourserviceName" class="form-label">OurService Name</label>
                        <input type="text" class="form-control" id="ourserviceName" name="Name">
                    </div>
                    <div class="mb-3">
                        <label for="ourServiceCategory" class="form-label">Category</label>
                        <select class="form-select" id="ourServiceCategory">
                            <option value="1">Category 1</option>
                            <option value="2">Category 2</option>
                            <!-- Gerçek kategoriler backend'den dinamik olarak çekilebilir -->
                        </select>
                    </div>

                    <button type="submit" class="btn btn-dark float-end">Save OurService</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Update Modal-->

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update OurService</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateOurserviceForm">
                    <input type="hidden" id="updateOurServiceId" name="Id">
                    <div class="mb-3">
                        <label for="updateOurServiceName" class="form-label">OurService Name</label>
                        <input type="text" class="form-control" id="ourserviceName" name="Name">
                    </div>
                    <button type="submit" class="btn btn-warning float-end">Update OurService</button>
                </form>
            </div>
        </div>
    </div>
</div>
