
<div class="logo-container">
    <a href="/" class="logo">
        <img src="~/Panel/img/ArchBackend.png" width="100" alt="Porto Admin" />
    </a>
    <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
         data-fire-event="sidebar-left-opened">
        <i class="fa-solid fa-bars" aria-label="Toggle sidebar"></i>
    </div>
</div>

<div class="header-right">
    <span class="separator"></span>
    <div id="userbox" class="userbox">
        @if (User.Identity!.IsAuthenticated)
        {
            <a href="#" data-bs-toggle="dropdown">
                <figure class="profile-picture">
                    <img src="/Panel/img/!logged-user.jpg" class="rounded-circle"
                         data-lock-picture="/Panel/img/!logged-user.jpg" />
                </figure>
                <div class="profile-info" data-lock-name="Arif Turhal" data-lock-email="info@arifturhalmimarlik.com">
                    <span class="name"></span>                        
                </div>


                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled mb-2">
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="#" onclick="alert('not yet completed')">Profile</a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="-1" asp-route-returnurl="/Account/Login" asp-controller="Account" asp-action="logout">Log Out</a>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>